.contact-header {
    background: indianred;
}

.contact-header a {
    text-decoration: none;
    color:cornflowerblue;
}

.contact-header a:hover {
    text-decoration: underline;
    color: indianred;
}

.contact-header li {
    background: wheat;
    font-size: 30px;
}